.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 880px;
    margin: auto;
    margin-top: 1px;
}
@media screen and (max-width: 926px) {
    .profile {
            flex-direction: column;
        }
}
