.auth__input {
    margin-top: 26px;
    width: 358px;
    height: 27px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #CCCCCC;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

@media screen and (max-width: 630px) {
    .auth__input {
            width: 238px;
        }
}


